body {
    background-color: #6e5c62;
    color: #FAFAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--inset));
    margin-top: var(--inset);
    user-select: none;
    width: 100%;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;

}

html {
    line-height: 1.15;
}

.header-h1 {
    font-weight: 600;
    font-size: 4vh;
    line-height: 6vh;
    height: 6vh;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    height: 505px;
    width: 420px;
    grid-gap: 0.0625em;
    /* background-color: #FAFAFF; */
}

.row {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    height: 80px;
}


.letter {
    aspect-ratio: 1;
    font-weight: 600;
    font-family: 'Mitr', sans-serif;
    color: #FAFAFF;
    background-color: #615458;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 1em;
    text-transform: uppercase;
    --happy-jump: 55%;
    cursor: pointer;
}

.letter.empty{
    background-color: transparent;
    border: 6px solid #4C4347;
}

.letter.edit {
    border-bottom: 15px solid #4C4347 !important;
}

.btn-container{
    display: grid;
    align-items: center;
    grid-gap: 20px;

    grid-template-columns: repeat(2, 1fr);

}

.btn {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 10%;
    height: 44px;
    width: 44px;
    background-color: #615458;
    cursor: pointer;

}

.btnAdd {
    color: aquamarine;
    position: absolute;
    right: 138px;
}

.btnRmv {
    color: tomato;
    position: absolute;
    right: 138px;
}
