body {
    background-color: #6e5c62;
    color: #FAFAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--inset));
    margin-top: var(--inset);
    user-select: none;
    width: 100%;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;

}

html {
    line-height: 1.15;
}

.header-h1 {
    font-weight: 600;
    font-size: 4vh;
    line-height: 6vh;
    height: 6vh;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    height: 505px;
    width: 420px;
    grid-gap: 0.0625em;
    /* background-color: #FAFAFF; */
}

.row {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    height: 80px;
}


.letter {
    aspect-ratio: 1;
    font-weight: 600;
    font-family: 'Mitr', sans-serif;
    color: #FAFAFF;
    background-color: #615458;
    border-radius: 10%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 1em;
    text-transform: uppercase;
    --happy-jump: 55%;
    cursor: pointer;
}

.letter.empty{
    background-color: transparent;
    border: 6px solid #4C4347;
}

.letter.edit {
    border-bottom: 15px solid #4C4347 !important;
}

.wrong{
    background-color: #312a2c;
}

.place{
    background-color: #d3ad69;
}

.right{
    background-color: #3aa394;
}

.btn-container{
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.btn {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    border-radius: 10%;
    height: 44px;
    width: 44px;
    background-color: #615458;
    cursor: pointer;

}

.btnAdd {
    color: aquamarine;
    position: relative;
    left: 430px;
    top: -68px;
    z-index: 1;
}

.btnRmv {
    color: tomato;
    position: relative;
    left: 430px;
    top: -68px;
    z-index: 1;
}

#printDivsButton{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 76px;
    border-radius: 10%;
    height: 80px;
    width: 80px;
    background-color: #615458;
    cursor: pointer;
}

.respostas-container {
    position: absolute;
    display: flex;
    display: none;
    height: 800px;
    width: 600px;
    z-index: 2;
    top: 10%;
    border-radius: 10px;
    background-color: #615458;
    overflow: hidden;
}

.respostas-heading{
    margin-left: 2%;
}

.close{
    display: flex;
    position: inherit;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-radius: 10%;
    height: 40px;
    width: 40px;
    background-color: #615458;
    cursor: pointer;
    right: 0px;
    top: 0%;
}

.respostas{
    margin-top: 4%;
    margin-left: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90%;
}
